nav a{
    text-decoration: none;
    /* margin-right: 20px; */
    color: #000;
    font-size: 20px;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    padding: 8px 20px;
    
}
nav a:hover{
    box-shadow: 1px 1px  3px rgba(0, 0, 0, 0.338);
    transition: all .3s;
}
nav{
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.338);
    padding: 25px 0;
}
.custom-link{
    display: flex;
    justify-content: center;
}